<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.eplwebmobileapp195915" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Weekend Match</name>
	<description>
				An Ionic Framework and Cordova project.
		</description>
	<author email="hi@ionicframework" href="http://ionicframework.com/">
			Ionic Framework Team
		</author>
	<content src="index.html"/>
	<access origin="*"/>
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="SplashScreen" value="screen"/>
	<preference name="SplashScreenDelay" value="3000"/>
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true"/>
	</feature>
	<icon src="resources/wm.png" density="ldpi"/>
	<icon src="resources/wm.png" density="mdpi"/>
	<icon src="resources/wm.png" density="hdpi"/>
	<icon src="resources/wm.png" density="xhdpi"/>
	<icon src="resources/wm.png" density="xxhdpi"/>
	<icon src="resources/wm.png" density="xxxhdpi"/>
</widget>