<ion-view view-title="Table" class="epl-ranks">
	<ion-content>
		<div class="bar bar-header">
			<button class="button icon ion-chevron-left"
				ng-click="vm.changeWeek(-1)"></button>
			<h1 class="title">Week : {{vm.currentWeek}}</h1>
			<button class="button icon ion-chevron-right"
				ng-click="vm.changeWeek(1)"></button>
		</div>

		<div class="row firstelement" >
			<div class="col col-20">
			</div>
			<div class="col col-50">
				<span style="float:right">
					P
				</span>
			</div>
			<div class="col col-20 epl-center">Goals</div>
			<div class="col col-10 epl-center">Pts.</div>
		</div>
		<div class="row" ng-repeat="(i,r) in vm.datas">
			<div class="col col-20">
				<div style="float:left; width:25px" >
					{{i+1}}
				</div>
				<img class='epl-team-logo' 
					alt='' ng-src='img/logo/150x150/{{r.team.id}}.png' />
			</div>
			<div class="col col-50">
				{{r.team.name}}
				<span style="float:right">
					{{r.gamesDrawn + r.gamesWon + r.gamesLost}}
				</span>
			</div>
			<div class="col col-20 epl-center">{{r.goalsScored}} - {{r.goalsAgainst}}</div>
			<div class="col col-10 epl-center">{{r.points}}</div>
		</div>
	</ion-content>
</ion-view>