<ion-view view-title="Matchday" class="epl-matchday">
	<ion-content>

		<div class="bar bar-header">
			<button class="button icon ion-chevron-left"
				ng-click="vm.changeWeek(-1)"></button>
			<h1 class="title">Week : {{vm.currentWeek}}</h1>
			<button class="button icon ion-chevron-right"
				ng-click="vm.changeWeek(1)"></button>
		</div>

		<div class="firstelement"/>

		<div ng-repeat="(i, days) in vm.datas">
			<div class="row" >
				<div class="col">{{i}}</div>
			</div>
			<div class="row" ng-repeat="(j, r) in days">
				<div class="col col-20 epl-center">{{r.time}}</div>
				<div class="col col-40 epl-center">
					<img class='epl-team-logo' alt='' 
						ng-src='img/logo/150x150/{{r.homeTeam.id}}.png' />
					<span ng-if="r.homeGoal > -1">{{r.homeGoal}}</span>
					<span ng-if="r.homeGoal == -1">&nbsp;</span>
					 - 
					<span ng-if="r.awayGoal > -1">{{r.awayGoal}}</span>
					<span ng-if="r.awayGoal == -1">&nbsp;</span>
					<img class='epl-team-logo' alt='' 
						ng-src='img/logo/150x150/{{r.awayTeam.id}}.png' />
				</div>
				<div class="col col-40 epl-center">
					<button class="button button-small button-calm icon ion-chatboxes" 
					style="margin-right:5px"/> 
					<button 
						ng-click="vm.gotoVoting(r)"
						class="button button-small button-balanced icon ion-checkmark-circled"
						style="margin-right:5px" /> 
					<button 
						ng-click="vm.gotoRating(r)"
						class="button button-small button-energized icon ion-star" >
						{{r.ratingPointStr}}
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>