/* Empty. Add your own CSS if you like */
.epl-team-logo {
	max-width: 20px;
	max-height: 20px;
	vertical-align: middle;
}

.wm-team-logo-50 {
	max-width: 50px;
	max-height: 50px;
	vertical-align: middle;
}

.epl-center ,
.wm-center {
	text-align: center;
}

.epl-ranks .firstelement,
.epl-matchday .firstelement,
.wm-rating .firstelement{
	padding-top: 40px;
}

.wm-signin-btn {
	width: 100%;
}

.wm-nowrap {
	white-space: normal;
}

.wm-errormsg {
	background-color: #ef473a;
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
}

.wm-rating .wm-vs {
	padding: 20px;
	font-size: 20px;
}