/* Empty. Add your own CSS if you like */
.epl-team-logo {
	max-width: 20px;
	max-height: 20px;
	vertical-align: middle;
}

.epl-center {
	text-align: center;
}

.epl-ranks .firstelement {
	padding-top: 20px;
}